
# this will ignore everything except my exceptions below
/*
/*/

# [exceptions] files that i want to keep it
!.bash_aliases
!.gitignore
!.bashrc
!rafael/
!aliases/
!install.sh
!upgrade.sh
!config/
!import/.gitignore
!import/node/package.json
!import/node/.gitignore

#ignoring work aliases
aliases/ignore/*

# ignoring the exported file to be coppied
.bash_aliases_export

# removing all .swp files
*.swp

# ignoring git
.gitconfig
